/*--------------------Pong_Projet_CSS--------------------*/
/* Menu */


#page1{
	background:url('../img/bronzeL.jpg');
	background-size:cover;
	color :#FFFF8A;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}

#page2{
	background:white url('../img/lettre1.jpg');
	background-size:cover;
	color : #0B0B61;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}

#page3{
	background:white url('../img/lettre2.jpg');
	background-size:cover;
	color : black;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}

#page4{
	background:white url('../img/lettre3.jpg');
	background-size:cover;
	color : black;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}

#page5{
	background:white url('../img/lettre4.jpg');
	background-size:cover;
	color : black;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}

#page6{
	background:white url('../img/babylons.png');
	background-size:cover;
	color: #CDABBA;
	background-attachment:fixed;
	font-size:16pt;
	overflow:auto;
}



#menu{
	top:0;
	float:left;
	width: 140px;
	height: 266px;
	margin:100px 100px 100px 0;
	position:fixed;
	opacity:0.8;
	color:white;
}

	#menu ul li ul {
		margin-left:140px;
		margin-top:-36px;
		position:relative;
		display:none;
		width:140px;
		height:41px;
}
	#menu ul li:hover ul{
		display:block;
}
	#menu li:hover{
		color: #000000;
		border:2px green double;
		background:white url('../img/ico.gif') fixed left top repeat-y;
}

	#menu li{
		width: 140px;
		height: 41px;
		padding-top: 10px;
		border-top-width: 10px;
		border-top-style: solid;
		text-align: center;
		text-decoration: none;
		letter-spacing: -1px;
		font-family: Palatino Linotype, "Comic Sans MS" Helvetica serif;
		font-size: 24px;
}

#menu1 { background: #C4856D no-repeat center bottom; border-color: #DF3A01; color: white; }
#menu2 { background: #08088A no-repeat center bottom; border-color: #0B0B61; color: white; }
	#menu2a{background: #0101DF no-repeat center bottom; border-color: #0404B4; color: white;}
	#menu2b{background: #2E2EFE no-repeat center bottom; border-color: #0000FF; color: white;}
	#menu2c{background: #8181F7 no-repeat center bottom; border-color: #5858FA; color: white;}
	#menu2d{background: #819FF7 no-repeat center bottom; border-color: #5882FA; color: white;}
#menu3 { background: #C0B94A no-repeat center bottom; border-color: #FCEE0F; color: white; }
#menu4 { background: #94A46F no-repeat center bottom; border-color: #9EBF54; color: white; }
#menu5 { background: #B0A7DB no-repeat center bottom; border-color: #9F8DF6; color: white; }
#menu6 { background: #FA8258 no-repeat center bottom; border-color: #F07242; color: white; }

p:first-letter
{
	font-size:200%;
	color:#6D071A;
}

h1{
	top:0;
	font-size:46pt; font-weight:bold;font-family:Calibri;
	margin:30px 200px;
	color:#6D071A;
	position:fixed;
	text-shadow:3px 3px 5px white; 
}

#divbody{
	text-align:justify;
	position:fixed;
	margin:100px 60px 100px 200px;
	width:80%; min-width:666px;
	height:80%; min-height:333px;
	overflow:auto;
	columns:500px ;
	-webkit-columns:500px ; /* Safari and Chrome */
	-moz-columns:500px ; /* Firefox */
}

/*
div{
	display:block;
}
*/